.input{
    margin-bottom: 20px; 
}

.input:focus{
    outline-color:  #DB652F; 
}

.logo-login{
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.botao-login{
    padding-bottom: 20px;
}

.link{
    color: #DB652F;
}

.senha_link{
    display: block;
    margin: 0 auto;
    
    color: #DB652F;
}

.text{
    margin-top: 30px;
}

p{
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
