.input_s{
    margin-bottom: 20px;
    margin-top: 40px;
    outline-color:  #DB652F; 
}

.botao_s{
    margin-top: 20px; 
    margin-bottom: 30px;     
}

.pets_s{
    margin-top: 60px;
}

.text_s{
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 50px;     
}

.link-login{
    text-align: center;
}
