.input-meu-perfil{
    margin-bottom: 20px;
}

.input-meu-perfil:focus{
    outline-color: #bd501e;
  }

.titulo-meu-perfil{
    text-align: center;
    font-size:22px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.botao-excluir-conta{ 
    width: 310px;
    height: 50px; 
    background-color: #e21613;   
}

.botao-excluir-conta:hover{
    background-color: #b82d26;
  }

.text-meu-perfil{
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

