.input-conta{
    margin-bottom: 20px;
}

.input-conta:focus{
    outline-color: #DB652F;
}

.logo-conta{
    padding-bottom: 30px;
}

.text-criar-conta{
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
}

.tipo-pessoa{
    width: 310px;
    height: 50px;
    border-radius: 10px;
    background-color: #E7E6E5;
    font-size: 14px;
    border: none;
    padding: 15px;   
    margin-bottom: 20px; 
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.tipo-pessoa:focus{
    outline-color:  #DB652F; 
  }

option:checked { 
    background-color: #DB652F;
    color: #fff; 
}
