#button-main {
    border: none;
    width: 310px;
    height: 50px;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    background-color: #DB652F;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }

#button-main:hover{
    background-color: #ba4a16;
  }
  