.input-meu-perfil{
    margin-bottom: 20px;
}

.input-meu-perfil:focus{
    outline-color: #bd501e;
  }

.titulo-meu-perfil{
    text-align: center;
    font-size:22px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.botao-meu-perfil{
    margin-top: 30px; 
    margin-bottom: 30px;
    width: 310px;
    height: 50px; 
    background-color: #DB652F;     
}

.botao-meu-perfil:hover{
    background-color: #ba4a16;
  }

.botao-excluir-conta{
    margin-top: 20px; 
    width: 310px;
    height: 50px; 
    background-color: #850c0a;     
}

.botao-excluir-conta:hover{
    background-color: #540d09;
  }

.text-meu-perfil{
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

