.titulo-meu-perfil{
    text-align: center;
    font-size:22px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.botao-adocao{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 210px;
    height: 140px; 
    border: none;
    background-color: #DB652F;
    cursor: pointer;   
    color: #fff;  
    border-radius: 20px;
    font-weight: bold;
}

.botao-adocao:hover{
    background-color: #ba4a16;
  }

.icon-dog{
    margin-bottom: 5px;
}


