.text_s {
  text-align: left;
  margin-bottom: 30px;
}

form {
  margin-top: 25px;
}

.input{
  margin-bottom: 20px;
}

.adotar {
  display: column;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outros {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao_filtro{
  display: row;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: gray;
  width: 125px;
  margin-right: 20px;
  border-radius: 15px;
}

.botao_entrar {
  display: flex;
  justify-content: center;
}

p{
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

.select_r {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.sexo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.faixa_etaria {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.porte {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
